.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%; /* Establece un ancho máximo para el contenedor principal */
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente en la página */
  }  
  
  .login-box {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    text-align: left;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0d3e07;
    color: rgb(140, 124, 124);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }